@import "../../global/global";
.my-cart {
  width: 100%;
  min-height: 80vh;
  background-color: $darkColor;
  text-align: center;
  .cart-container {
    margin: 0 auto;
    width: 80%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    .cart-contents {
      flex: 2;
      display: flex;
      flex-direction: column;
      min-width: 550px;
      .item {
        margin-top: 2.5rem;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        background-color: $darkestColor;
        position: relative;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
          background-color: $darkColor;
        }
        .delete {
          background-color: $redColor;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          position: absolute;
          top: -10px;
          right: -10px;
          &:hover {
            cursor: pointer;
          }
        }

        .left {
          flex: 2;
          height: 100%;
          display: flex;
          .display-photo {
            flex: 1;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 5px;
            }
          }
          .information {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding-left: 2rem;
            flex: 2;
            height: 100%;
            h4 {
              font-family: $fontNew;
            }
            p {
              font-size: 1.5rem;
              font-family: $fontNew;
            }
          }
        }
        .right {
          flex: 1;
          font-size: 3rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 2rem;
        }
      }
    }
    .billing {
      flex: 1;
      max-height: 500px;
      min-width: 300px;
      background-color: #29282f;
      margin-left: 2rem;
      border-radius: 5px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
      display: flex;
      flex-direction: column;
      padding: 2rem;

      h3 {
        margin-bottom: 2rem;
        border-bottom: 1px solid $redColor;
      }
      .price-item,
      .discount,
      .total-amount {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        p {
          font-size: 2.5rem;
        }
        .money {
          margin-right: 1rem;
          color: $whiteColor;
          span {
            font-size: 2rem;
            color: $redColor;
          }
        }
      }
      .pay-button {
        width: 100%;
        button {
          width: 100%;
          background-color: $redColor;
          padding: 0.5rem 1rem 0.5rem 1rem;
          font-size: 2rem;
          border: 1px solid transparent;
          color: $whiteColor;
          margin-top: 2rem;
          transition: all 0.2s ease-in;
          &:hover {
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $goldenColor;
          }
        }
        .with-amount {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1087px) {
  .my-cart {
    .cart-container {
      .cart-contents {
        .item {
          .delete {
            display: inline !important;
          }
        }
        .no-item {
          display: none;
        }
      }
    }

    .billing {
      margin-top: 4rem;
      margin-left: 0rem !important;
      .pay-button {
        position: fixed;
        bottom: 0;
        left: 0;
        .without {
          display: none;
        }
        .with-amount {
          display: inline !important;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .my-cart {
    min-height: 100vh;
  }
}

@media (max-width: 634px) {
  .my-cart {
    .cart-container {
      .cart-contents {
        min-width: 290px;
        .item {
          height: 120px;
          .left {
            .display-photo {
              flex: 2;
            }
            .information {
              h4 {
                font-size: 2rem;
              }
              p {
                font-size: 1rem;
              }
            }
          }
          .right {
            font-size: 2rem;
          }
        }
      }
      .billing {
        h3 {
          font-size: 2.5rem;
        }
        .price-item,
        .discount,
        .total-amount {
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 451px) {
  .my-cart {
    min-height: 100vh;
    .cart-container {
      .cart-contents {
        .item {
          height: 80px;
          .left {
            .information {
              h4 {
                font-size: 1.5rem;
              }
              p {
                font-size: 0.9rem;
              }
            }
          }
          .right {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
