@import "../../global/global";

@mixin ButtonDesign($primaryColor, $primaryShadow) {
  margin-top: 2rem;
  width: max-content;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  background-color: $primaryColor;
  border-radius: 4px;
  border: 3px solid transparent;
  box-shadow: 0px 0px 94px -15px $primaryShadow;
  transition: all 0.3s ease-in-out;
  color: $whiteColor;
  &:hover {
    cursor: pointer;
    border: 3px solid $redColor;
    background-color: transparent;
    transform: translateY(-5px);
    color: $goldenColor;
  }
}
.homepageBanner {
  width: 100%;
  height: 90vh;
  min-height: 600px;
  position: absolute;
  top: 10vh;
  display: flex;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    h1 {
      font-family: $fontNew;
    }
    p {
      margin-top: 1rem;
      color: $whiteColor;
      font-style: italic;
    }
    button {
      @include ButtonDesign($redColor, rgba(207, 18, 60, 1));
    }
  }
  .upcommingGames {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .box {
      width: 200px;
      height: 60%;
      background-color: white;
      position: relative;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
      .nameBox {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $greenShade;
        border-radius: 4px;
        transform: rotate(90deg) translateY(200%) translateX(20%);
        padding: 1rem 2rem 1rem 2rem;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 2.7rem;
          font-style: italic;
          letter-spacing: 0.2rem;
          font-family: $fontNew;
        }
      }
    }
  }
}

@media (max-width: 1252px) {
  .homepageBanner {
    .content {
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 2rem;
      }
      button {
        width: max-content;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1.5rem;
      }
    }
    .upcommingGames {
      .box {
        width: 150px;
        height: 50%;
      }
    }
  }
}

@media (max-width: 996px) {
  .homepageBanner {
    display: inline-block;
    height: 80vh;
    top: 20vh;
    .content {
      width: 100%;
      height: 100%;
      align-items: center;
      text-align: center;
      padding-left: 0;
      h1 {
        margin-top: -10rem;
      }
    }
    .upcommingGames {
      display: none;
    }
  }
}
