@import "../../../global/global";
.latest {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: relative;
  .latest-content {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .card-list-mobile {
      display: none;
    }
    .card-list {
      margin-top: 2rem;
      width: 100%;
      height: 95%;
      display: flex;
      justify-content: space-between;
      .card {
        //min-width: 190px;
        border-radius: 5px;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 18%;
        height: 90%;
        position: relative;
        transition: all 0.4s ease-in-out;
        &:hover {
          scale: 1.1;
          cursor: pointer;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
        h2 {
          position: absolute;
          bottom: 50%;
          left: 0;
          transform: translate(-50%, 0%) rotate(270deg);
          font-family: $fontNew;
          background-color: black;
          padding: 0rem 2rem 0rem 2rem;

          backdrop-filter: blur(15px);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .latest {
    .latest-content {
      .card-list {
        display: none;
      }
      .card-list-mobile {
        margin-top: 2rem;
        width: 100%;
        height: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 0;
        min-width: 0;
        row-gap: 2rem;
        column-gap: 2rem;
        .card {
          position: relative;
          overflow: hidden; /* NEW */
          min-width: 0; /* NEW; needed for Firefox */
          border-radius: 5px;
          h2 {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: $fontNew;
            font-size: 2.5rem;
            //font-weight: 700;
            background-color: rgba($color: #000000, $alpha: 1);
            padding: 1rem;
            border-radius: 5px;
          }
          img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 593px) {
  .latest {
    height: 60vh !important;
    .latest-content {
      width: 90% !important;
      .card-list-mobile {
        height: 70% !important;
      }
    }
  }
}

@media (max-width: 446px) {
  .latest-content {
    width: 90% !important;
    .card-list-mobile {
      height: 60% !important;
    }
  }
}
#preloadedImages {
  width: 0px;
  height: 0px;
  display: block;
  background-image: url("https://media1.giphy.com/media/jVAt83ieT49H6ja5Ty/giphy.gif?cid=ecf05e47f12a83303a57a86710ab88e44373bcfcd8e263f2&rid=giphy.gif");
}
