@import "../../global/global";
.auth {
  width: 100%;
  height: 100vh;
  background-color: $darkColor;
  min-height: 400px;
  .register {
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    min-width: 350px;
    min-height: 400px;
    transform: translate(-50%, -50%);
    .heading {
      text-align: center;
      font-family: $fontNew;
    }
    .content {
      margin-top: 2rem;
      padding: 2rem;
      border-radius: 5px;

      .emailBox,
      .passwordBox,
      .confirmPasswordBox {
        width: 100%;
        margin-top: 2rem;
        .label {
          font-size: 1.5rem;
          font-family: $fontNew;
          color: $whiteColor;
        }
        input {
          margin-top: 0.5rem;
          width: 100%;
          height: 50px;
          background-color: transparent;
          border: 0.5px solid $goldenColor;
          padding: 1rem;

          border-radius: 5px;
          color: $goldenColor;
          font-size: 2rem;
        }
      }
      .submit {
        margin-top: 3rem;

        button {
          font-size: 1.5rem;
          padding: 0.7rem 2rem 0.7em 2rem;
          border-radius: 5px;
          border: none;
          background-color: $redColor;
          color: $whiteColor;

          width: 100%;
        }
      }
      .create {
        margin-top: 3rem;
        text-align: center;
        p {
          font-size: 1.2rem;
          color: $whiteColor;
          font-family: $fontNew;
          span {
            font-size: 1.2rem;
          }
        }
        .back {
          padding-top: 1rem;
          color: $goldenColor;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .auth {
    .register {
      width: 350px;
    }
  }
}
